fastapi
uvicorn
tensorflow
scikit-learn
pandas
numpy
pymongo
python-multipart
google-cloud-speech
google-cloud-texttospeech
requests
python-dotenv
pillow
jinja2
openai
pydantic
vaderSentiment
langdetect
